<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div>
            <section class="logo">
                <h2>@Html.ActionLink("ECHO", "Index", "Home")</h2>
            </section>

            <section class="login">
                @Html.Partial("_LoginPartial")
            </section>
        </div>
    </header>

    @if(User.Identity.IsAuthenticated)
	{
		<nav>
			<ul>
				<li>@Html.ActionLink("Home", "Index", "Home")</li>
				<li>@Html.ActionLink("About", "About", "Home")</li>
				<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
			</ul>
		</nav>
	}

    <section class="content">
        <section class="main">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </section>
    </section>

    <footer>
        <div>
            <section class="logo">
                <h2>@Html.ActionLink("ECHO", "Index", "Home")</h2>
            </section>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
